[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Lahman"]
	path = Lahman
	url = https://github.com/cdalzell/lahman
	shallow = true
	registered = true
